FLASK_ENV =YOUR_VALUE_HERE
SECRET_KEY =YOUR_VALUE_HERE
JWT_SECRET_KEY=YOUR_VALUE_HERE
DATABASE_URL =YOUR_VALUE_HERE
CORS_ORIGINS=YOUR_VALUE_HERE
API_URL=YOUR_VALUE_HERE
API_KEY=YOUR_VALUE_HERE
VITE_API_URL=YOUR_VALUE_HERE
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_COUNTRY=us
